Achievement Task

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [8]:
# 3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.
df_orders_products_combined = pd.read_pickle(r'/Users/Nicole/Documents/CareerFoundry/Data Analytics Program/Achievement 4 Immersion/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl')

In [9]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [10]:
df_orders_products_combined.shape

(32434489, 11)

In [11]:
df_product = pd.read_csv(r'/Users/Nicole/Documents/CareerFoundry/Data Analytics Program/Achievement 4 Immersion/Instacart Basket Analysis/02 Data/Prepared Data/products_checked.csv', index_col = False)

In [12]:
df_product.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
df_product.shape

(49672, 6)

In [27]:
df_orders_products_combined_1 = df_orders_products_combined.drop(columns = ['_merge'])

In [34]:
df_orders_products_combined_1.shape

(32434489, 10)

In [30]:
# 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.
df_orders_products_merged = df_orders_products_combined_1.merge(df_product, on = ['product_id'], how = 'left',indicator = True)

In [31]:
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,195.0,Soda,77.0,7.0,9.0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,14084.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,12427.0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,26089.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,26406.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [33]:
# 6. Confirm the results of the merge using the merge flag.
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only        30200
right_only           0
Name: _merge, dtype: int64

In [35]:
# 7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))